{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^@types",
    "^@hooks/(.*)$",
    "^@features/(.*)$",
    "^@consts",
    "^@utils",
    "^@public/(.*)$",
    "^@http/(.*)$",
    "^../(.*)",
    "^./(.*)",
    "^.$",
    "(.scss)$"
  ],
  "importOrderSeperation": true,
  "importOrderSortSpecifiers": true
}