.authForm {
  @apply me-10 relative inline-flex;

  transition: margin 0.25s ease-out;

  .button {
    @apply inline-flex;
  }

  &.staticPosition {
    transition: none;

    .form {
      @apply static shadow-none;
    }
  }

  &.place {
    @apply me-0;
  }

  .form {
    @apply flex flex-col shadow-block p-6 pt-12 absolute right-2 w-80 z-20 rounded-lg;
    top: calc(100%);
    background-color: #272532;
    transition: none;

    .loginButton {
      @apply m-auto;
    }

    .registerButton {
      @apply text-gray-400 opacity-40 py-2 pb-0 w-max m-auto;
    }
  }
}