.input {
  @apply relative block mb-6;

  .label {
    @apply text-gray-500;
  }

  input {
    @apply rounded-lg py-2 px-4 w-full block outline-0 text-white bg-gray-800;
    transition: box-shadow 0.4s ease;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.03);

    &::placeholder {
      @apply text-placeholder;
    }

    &:focus {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }
  }

  .error {
    @apply absolute -bottom-5 left-0 w-full text-primary;
    font-size: 0.8rem;
  }
}

