.loaderIcon {
  @apply inline-block relative mx-auto scale-50;
  width: 120px;
  height: 80px;

  div {
    @apply inline-block absolute left-2 w-2.5 bg-white;
    animation: ldsLoader 1.2s cubic-bezier(0, 0.5, 0.6, 1) infinite;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        left: 0px + (16px * ($i - 1));
        animation-delay: -0.12s * (3 - $i);
      }
    }
  }
}

@keyframes ldsLoader {
  0% {
    background: theme('colors.primary');
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    background: theme('colors.purple');
    top: 24px;
    height: 32px;
    width: 1px;
  }
}