.searchbar {
  @apply relative w-full md:w-1/2 lg:w-7/12;

  label {
    @apply w-full block relative;

    input {
      @apply rounded-lg py-2 px-4 w-full block outline-0 text-white shadow bg-gray-800;
      transition: box-shadow 0.4s ease;

      &::placeholder {
        @apply text-placeholder;
      }

      &:focus {
        @apply shadow-md;
      }
    }

    img {
      @apply absolute right-4 top-2.5 opacity-90;
      max-width: 18px;
    }
  }

  .magnifyingGlassIcon {
    @apply absolute right-4 top-3 opacity-25;
  }

  .resultsWrapper {
    @apply shadow-block rounded-lg animate-scaleIn absolute w-full z-20 p-5 mt-3 bg-gray-900;
    min-height: 64px;

    .results {
      @apply grid justify-items-center grid-cols-100 xl:grid-cols-50 2xl:grid-cols-33;
    }

    .result {
      @apply m-auto p-1;
    }

    .videosNotFound {
      @apply flex gap-1.5 items-center text-gray-400;

      @keyframes show {
        0% {
          opacity: 0;
        }
        20% {
          opacity: 0;
        }
        100% {
          opacity: 100%;
        }
      }

      span {
        animation: show 0.6s linear 1;
      }
    }
    
    .moreResultsLink {
      @apply w-full m-auto flex items-center justify-center rounded-lg text-center text-white p-2 pt-4 gap-1 text-tiny text-gray-500 bg-fg-item font-bold;
    }

    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  }
}
