.searchbar {
  @apply relative w-7/12;

  label {
    @apply w-full block relative;

    input {
      @apply rounded-lg py-2 px-4 w-full block outline-0 text-white shadow bg-gray-800;
      transition: box-shadow 0.4s ease;

      &::placeholder {
        @apply text-placeholder;
      }

      &:focus {
        @apply shadow-md;
      }
    }

    img {
      @apply absolute right-4 top-2.5 opacity-90;
      max-width: 18px;
    }
  }

  .magnifyingGlassIcon {
    @apply absolute right-4 top-3 opacity-25;
  }

  .results {
    @apply shadow-block rounded-lg animate-scaleIn absolute w-full z-20 p-5 mt-3 bg-gray-900 grid justify-items-center grid-cols-100 xl:grid-cols-50 2xl:grid-cols-33;

    .result {
      @apply m-auto p-1;
    }

    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  }
}
