.userAvatar {
  @apply rounded-full flex items-center justify-center relative z-10;
  border: 2px solid rgba(255, 255, 255, 0.4);
  width: 57px;
  height: 57px;

  .aOverlay {
    @apply a-overlay;
  }

  &.focused {
    @apply focus-style;
  }

  .avatar {
    @apply rounded-full;
  }

  &.white {
    border: 2px solid rgba(255, 255, 255, 0.5);

    .verifiedIcon {
      @apply text-white absolute;

      &::before {
        @apply bg-gray-800;
      }
    }
  }

  span {
    @apply relative rounded-full;
  }

  .verifiedIcon {
    @apply text-blue-500 text-xs absolute bottom-0 right-0;

    &::before {
      @apply bg-white w-3 h-3 block rounded-full absolute -z-10 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
      content: '';
    }
  }
}