.userAvatar {
  @apply rounded-full flex items-center justify-center relative z-10;
  border: 2px solid rgba(255, 255, 255, 0.4);
  width: 57px;
  height: 57px;

  .aOverlay {
    @apply a-overlay;
  }

  &.focused {
    @apply focus-style;
  }

  .avatar {
    @apply rounded-full;
  }

  &.white {
    border: 2px solid rgba(255, 255, 255, 0.5);

    .verifiedIcon {
      @apply text-white absolute;
    }
  }

  span {
    @apply relative rounded-full;
  }

  .verifiedIcon {
    @apply text-blue-500 text-xs absolute bottom-0 right-0;
  }
}