.videoInformation {
  @apply rounded-lg overflow-hidden;

  .thumbnailCol {
    .imgWrapper {
      @apply relative bg-brand overflow-hidden mt-2;
      width: 344px;
      height: 190px;
    }

    .thumbnailInput {
      @apply mt-4 mb-6;
    }

    .statusMessage {
      @apply absolute top-1/2 left-1/2  -translate-x-1/2 -translate-y-1/2 w-max pointer-events-none text-gray-600;
    }

    img {
      object-fit: cover;
    }
  }

  svg {
    @apply text-tiny;
  }
      
  .label {
    @apply text-gray-500 text-tiny mb-1;
  }

  .details {
    .pairing {
      @apply mb-3 last:mb-0;

      span {
        @apply flex items-center gap-1 text-tiny;
      }
      
      .link {
        @apply text-primary text-tiny;
      }
    }
  }
}