.commentItem {
  @apply mt-7;
  > div > div > {
    div {
      &:first-child {
        @apply text-xs;
      }
      &:last-child {
        font-size: 1rem;
      }
    }
  }

  .channelInfoSmall {
    align-items: initial;

    .rightCol {
      width: 70%;
    }

    .subscribersCount {
      @apply text-gray-500;
    }
  }
}
