@use '@styles/variables.scss' as v;

.comments {
  @apply relative rounded-xl p-5 relative bg-fg-item pb-20;
  flex-basis: 33.33%;

  h2 {
    @apply text-white text-tiny;
  }

  .line {
    @apply w-full h-0.5 my-4;
    background-color: #303241;
  }

  p {
    @apply text-gray-500 mb-4;
  }
  
  .commentsUl {
    padding-bottom: 1rem;
  }

  .commentsUl::-webkit-scrollbar {
    @apply bg-black-25;
    width: 6px;
    height: 8px;
  }

  .commentsUl::-webkit-scrollbar-thumb {
    @apply bg-gray-600;
  }

  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 175px;
    width: 93%;
    background-image: linear-gradient(to top, v.$fg-item, rgba(0, 0, 0, 0));
    opacity: 0.8;
  }

  &.scrolled {
    &::after {
      opacity: 0;
    }
  }
}
