

.sidebar {
  @apply relative flex flex-col justify-between py-10 sticky top-0 sidebar-lg:px-7;
  max-width: 240px;
  height: 100vh;
  
  .logo {
    @apply flex w-14 text-2xl font-semibold sm:w-full;
    color: #fefefe;
  }

  .copy {
    @apply hidden text-gray-600 text-opacity-60 text-xs sidebar-lg:block;

    a {
      @apply underline;
    }
  }

  .lower {
    @apply flex-col gap-5 sticky bottom-4;
    z-index: 3;

    .socialMedia {
      @apply flex flex-col sidebar-lg:flex-row;
    }

    .links {
      @apply hidden gap-1 sidebar-lg:flex;

      a {
        @apply underline;
      }
    }

    .links a:hover {
      @apply text-gray-500;
    }
  }
  
  &::after {
    pointer-events: none;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-image: linear-gradient(to top, #202029, rgba(0, 0, 0, 0));
  }
}
