.videoDetail {
  @apply flex flex-col space-y-6 justify-between pb-10 md:space-x-6 md:space-y-0 md:flex-row;

  .leftCol {
    @apply basis-2/3;
  }

  .rightCol {
    @apply flex flex-col sm:flex-row-reverse md:block justify-between w-full md:w-max;
  }

  h1 {
    @apply text-tiny font-medium md:text-base my-5 text-gray-300;
  }

  .article {
    @apply text-xs text-gray-500;
  }

  .buttonsWrapper {
    @apply flex flex-row md:flex-col items-start sm:justify-between md:justify-normal gap-2 mb-9 lg:flex-row lg:items-center;

    button {
      @apply p-2.5;

      svg {
        @apply mr-1.5 text-base;
      }

      &.subscribeButton {
        @apply bg-gray-800;
        width: 190px;

        svg {
          transform: scale(0.85);
        }
      }

      &.likeButton {
        width: 106px;
        background-color: #353340;
        
        .checkIcon {
          transform: scale(0.85);
        }
      }

      &:hover {
        @apply bg-gray-700;
      }
    }
  }

  .numberInfo {
    div {
      @apply text-gray-500 flex items-center mb-4;

      svg {
        @apply mr-2 text-base;
      }
    }
  }
} 